<template>
	<div>
		<view>
			<!-- 提示信息弹窗 -->
			<uni-popup ref="message" type="message">
				<uni-popup-message type="info" :message="messageText" :duration="2000"></uni-popup-message>
			</uni-popup>
		</view>
		<uni-tooltip content="当前回合">
			<view class="now_round">{{ now_round }}</view>
		</uni-tooltip>
		<!-- <view>当前行动玩家:{{ now_player }}</view> -->
		<view v-for="(value, name, index) in player_list" :class="[is_active(name) ? 'player_active' : null]">玩家 {{ name
		}}
			可行动数 {{
					value
			}}</view>
		<view>
			<view>动作：{{ JSON.stringify(action_type) }}</view>
			<uni-data-checkbox v-model="action_type" :localdata="action_list"></uni-data-checkbox>
		</view>
		<!-- <view>
			<view>方向</view>
			<slider @change="onSliderChange" value="0" name="direction" show-value min="0" max="5"></slider>
		</view> -->
		<view class="map">
			<hex-grid width="100%" height="100%">
				<layout :size="{ x: 4, y: 4 }" :flat="false" :spacing="1.1" :origin="{ x: 0, y: 0 }">
					<hexagon v-for="(hex, i) in hexagons" :key="i" :q="hex.q" :r="hex.r" :s="hex.s"
						:class="hex.props ? hex.props.className : null" @mouseenter="onMouseEnter"
						@mouseleave="onMouseLeave" @click="onclick">
						<!-- <text-component>{{ HexUtils.getID(hex) }}</text-component> -->
					</hexagon>
					<!--        <path-component :start="path.start" :end="path.end" /> -->
				</layout>
			</hex-grid>
		</view>
	</div>
</template>
<script>
import {
	GridGenerator,
	HexGrid,
	Layout,
	Path,
	Text,
	Hexagon,
	HexUtils,
} from 'vue-hexgrid';

export default {
	name: 'App',
	components: {
		HexGrid,
		Layout,
		PathComponent: Path,
		TextComponent: Text,
		Hexagon,
	},
	data() {
		return {
			hexagons: [],
			path: {
				start: null,
				end: null,
			},
			HexUtils,
			action_type: 1,
			direction: 0,
			color: "",
			room_id: "",
			token: "",
			now_round: 0,
			now_player: "",
			player_list: [],
			action_list: [{
				text: "ATTACK",
				value: 1
			}, {
				text: "ARROW",
				value: 2
			},
			{
				text: "BLOCK",
				value: 3
			}
			],
			messageText: '这是一条成功提示',
			ping_interval: null,
			room_detail_interval: null,
			is_selecting: false,
			start_hex: null,
			hex_direction_dict: {}
		};
	},
	onLoad: function (e) {
		this.token = e.token;
		this.room_id = e.room_id;
		this.color = e.color;
		this.hexagons = GridGenerator.hexagon(6);
		uni.setNavigationBarTitle({
			title: "room_id : " + this.room_id
		})
		this.init();
	},
	onShow: function (e) {
		this.init();
	},
	onUnload: function (e) {
		clearInterval(this.ping_interval);
		clearInterval(this.room_detail_interval);
	},
	methods: {
		init() {
			clearInterval(this.ping_interval);
			clearInterval(this.room_detail_interval);
			this.update_room_detail();
			this.$global.initWs(this.$store, this.token);
			this.$store.state.websocketConnection.onMessage((res) => {
				console.log(res.data);
				if (res.data == "update_room_detail") {
					this.update_room_detail();
				}
			});
			this.$store.state.websocketConnection.onClose((res) => {
				this.init();
			});
			this.room_detail_interval = setInterval(() => {
				this.update_room_detail();
			}, 10 * 1000);
			this.ping_interval = setInterval(() => {
				this.$store.commit("heartBeat", this.token);
			}, 50 * 1000);
		},
		is_active(name) {
			return name === this.now_player;
		},
		update_room_detail() {
			uni.request({
				header: {
					'Content-Type': 'application/x-www-form-urlencoded',
					'token': this.token
				},
				url: this.$url + "room",
				method: "GET",
				data: {
					room_id: this.room_id,
				},
				success: res => {
					console.log(res.data);
					this.now_round = res.data.now_round;
					this.now_player = res.data.now_player;
					this.room_list = res.data.map_info;
					this.player_list = res.data.player_info;
					const coloredHexas = this.hexagons.map(hex => {
						hex.props = hex.props || {};
						if (hex.props.isTmpColor == false || typeof (hex.props.isTmpColor) == "undefined") {
							hex.props.className = this.room_list[hex.q + "," + hex.r].color
							hex.props.oldColor = hex.props.className;
						}
						if (this.room_list[hex.q + "," + hex.r].color == hex.props.className) {
							hex.props.oldColor = hex.props.className;
						}
						return hex;
					});
					this.hexagons = coloredHexas;
				}
			})
		},
		onclick(event, source) {
			const targetHex = source.hex;
			if (this.is_selecting == false) {
				this.is_selecting = true;
				this.start_hex = targetHex;
				switch (this.action_type) {
					case 1:
						for (var i = 0; i < 6; i++) {
							const neighbour_hex = this.HexUtils.neighbour(this.start_hex, i);
							this.hex_direction_dict[HexUtils.getID(neighbour_hex)] = i;
						}
						break;
					case 2:
						for (var i = 0; i < 6; i++) {
							var tmp_hex = this.start_hex;
							for (var j = 0; j < 3; j++) {
								var neighbour_hex = this.HexUtils.neighbour(tmp_hex, i);
								this.hex_direction_dict[HexUtils.getID(neighbour_hex)] = i;
								tmp_hex = neighbour_hex;
							}
						}
						break;
					case 3:
						for (var i = 0; i < 6; i++) {
							const neighbour_hex = this.HexUtils.neighbour(this.start_hex, i);
							this.hex_direction_dict[HexUtils.getID(neighbour_hex)] = i;
						}
						break;
				}

			} else {
				if (HexUtils.getID(targetHex) == HexUtils.getID(this.start_hex)) {
					this.is_selecting = false;
					this.start_hex = null;
					this.messageText = "已取消选择";
					this.$refs.message.open("bottom");
				} else {
					if (typeof (this.hex_direction_dict[HexUtils.getID(targetHex)]) == "undefined") {
						this.messageText = "该hex不在范围内";
						this.$refs.message.open("bottom");
					} else {
						this.is_selecting = false;
						this.direction = this.hex_direction_dict[HexUtils.getID(targetHex)];
						this.send_action(this.start_hex);
						this.start_hex = null;
					}
				}
			}
		},
		send_action(targetHex) {
			uni.request({
				header: {
					'Content-Type': 'application/x-www-form-urlencoded',
					'token': this.token
				},
				url: this.$url + "battle",
				method: "POST",
				data: {
					room_id: this.room_id,
					q: targetHex.q,
					r: targetHex.r,
					direction: this.direction,
					action_type: this.action_type
				},
				success: res => {
					console.log(res.data);
					this.messageText = res.data.msg;
					this.$refs.message.open("bottom");
				}
			})
		},
		onClick(event, source) {
			const targetHex = source.hex;
		},
		onSliderChange: function (e) {
			this.direction = e.detail.value;
		},
		onActionChange: function (e) {
			this.action_type = e.detail.value;
		},
		onMouseLeave() {
			const coloredHexas = this.hexagons.map(hex => {
				hex.props = hex.props || {};
				hex.props.className = hex.props.oldColor;
				hex.props.isTmpColor = false;
				return hex;
			});
			this.hexagons = coloredHexas;
		},
		onMouseEnter(event, source) {
			const targetHex = source.hex;
			var coloredHexas = this.hexagons;
			if (this.is_selecting == false) {
				// 未选择时, 随着鼠标染色
				coloredHexas = this.hexagons.map(hex => {
					hex.props = hex.props || {};
					hex.props.oldColor = hex.props.className;
					if (HexUtils.getID(targetHex) == HexUtils.getID(hex)) {
						hex.props.className = this.color;
						hex.props.isTmpColor = true;
					}
					return hex;
				});
			} else {
				// 已选择时, 选择区域正确才染色
				var arrowHexList = [];
				if (typeof (this.hex_direction_dict[HexUtils.getID(targetHex)]) != "undefined") {
					this.direction = this.hex_direction_dict[HexUtils.getID(targetHex)];
					if (this.action_type == 2) {
						var tmpHex = this.start_hex;
						for (var i = 0; i < 3; i++) {
							tmpHex = HexUtils.neighbour(tmpHex, this.direction);
							arrowHexList.push(tmpHex);
						}
					}
				}
				coloredHexas = this.hexagons.map(hex => {
					hex.props = hex.props || {};
					hex.props.oldColor = hex.props.className;
					if (HexUtils.getID(this.start_hex) == HexUtils.getID(hex)) {
						hex.props.className = this.color;
						hex.props.isTmpColor = true;
					}
					if (typeof (this.hex_direction_dict[HexUtils.getID(targetHex)]) != "undefined") {
						switch (this.action_type) {
							case 1:
								if (HexUtils.getID(targetHex) == HexUtils.getID(hex)) {
									hex.props.className = this.color;
									hex.props.isTmpColor = true;
								}
								break;
							case 2:
								for (var i = 0; i < 3; i++) {
									if (HexUtils.getID(arrowHexList[i]) == HexUtils.getID(hex)) {
										hex.props.className = this.color;
										hex.props.isTmpColor = true;
									}
								}
								break;
							case 3:
								if (HexUtils.distance(this.start_hex, hex) < 2 && HexUtils.getID(this.start_hex) != HexUtils.getID(hex)) {
									hex.props.className = this.color;
									hex.props.isTmpColor = true;
								}
							default:
								break;
						}
					}
					return hex;
				});
			}
			this.hexagons = coloredHexas;
		},
	},
};
</script>
<style lang="scss">
.map {
	// 相对大小不变
	width: "auto";
	display: flex;
	justify-content: center;
}

.player_active {
	background: #60f76a;
	color: rgb(11, 11, 11);
}

.now_round {
	// 居中
	display: flex;
	justify-content: center;
	// 字体大小
	font-size: 50upx;
	// 字体颜色
	color: rgb(11, 11, 11);
	// 字体加粗
	font-weight: bold;
	// 背景颜色
	background: #7be3f6;
	fill-opacity: 0.6;
}

body {
	margin: 0;
	padding: 1em;
	font-family: sans-serif;
	background: #133b43;
	color: white;
	text-align: center;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-drag: element;
	-webkit-user-drag: element;
	-khtml-user-drag: element;
	user-drag: element;
}

svg {
	g {
		fill: #4499a9;
		fill-opacity: 0.6;

		&:hover {
			fill: #7be3f6;
			fill-opacity: 0.7;
		}

		&:hover text {
			fill-opacity: 1;
		}

		.q {
			fill: #fc0107;
			fill-opacity: 0.4;
		}

		.r {
			fill: #21ff06;
			fill-opacity: 0.4;
		}

		.s {
			fill: #0000ff;
			fill-opacity: 0.4;
		}

		.active {
			fill: #ffff0a;
			fill-opacity: 0.9;
		}

		.red {
			fill: #fc0107;
			fill-opacity: 0.4;
		}

		.blue {
			fill: #0000ff;
			fill-opacity: 0.4;
		}

		.yellow {
			fill: #ffff0a;
			fill-opacity: 0.9;
		}

		.green {
			fill: #21ff06;
			fill-opacity: 0.4;
		}

		polygon {
			stroke: #7be3f6;
			stroke-width: 0.2;
			transition: fill-opacity 0.5s;
		}

		text {
			font-size: 0.17em;
			fill: #03090a;
			fill-opacity: 0.7;
			transition: fill-opacity 0.5s;
		}
	}

	path {
		fill: none;
		stroke: #03090a;
		stroke-width: 0.2em;
		stroke-opacity: 0.9;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}
</style>
