<template>
	<view class="login">
		<input class="item" placeholder="用户名" @input="onAccountInput" />
		<input class="item" placeholder="密码" @input="onPasswordInput" />
		<button class="item" type="primary" @click="onLoginButtonClick">
			登陆
		</button>
		<button class="item" type="primary" @click="onRegisterButtonClick">
			注册
		</button>
	</view>
</template>

<script>
import { initWs } from '../../common/global.js';
export default {
	data() {
		return {
			account: "",
			password: "",
			token: ""
		}
	},
	methods: {
		onAccountInput: function (e) {
			this.account = e.target.value;
		},
		onPasswordInput: function (e) {
			this.password = e.target.value;
		},
		onLoginButtonClick: function (e) {
			uni.request({
				header: {
					'Content-Type': 'application/x-www-form-urlencoded',
				},
				url: this.$url + "role",
				method: "POST",
				data: {
					account: this.account,
				},
				success: res => {
					this.token = res.data.token;
					console.log(res);
					this.$global.initWs(this.$store, this.token);
					uni.navigateTo({
						url: "../hall/hall?token=" + res.data.token
					});
				}
			})
		},
		onRegisterButtonClick: function (e) {
			console.log(e);
		}
	}
}
</script>

<style lang="scss">
.login {
	// 竖对齐
	display: flex;
	flex-direction: column;
	align-items: center;
	// 垂直居中
	justify-content: center;
	// 宽度100%
	width: 100%;
	// 高度100%
	height: 100%;
	// 背景色
	background-color: #f5f5f5;
	// 整个view居中	
	position: absolute;
}

.item {
	//间距
	margin: 10upx;
	// 边框
	border: 1upx solid #007aff;
	//高度
	height: 80upx;
	// 文字水平居中
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>