<template>
	<div>
		<view>
			<button v-for="(value, name, index) in room_list" @click="onEnterRoom(name)">
				{{ name }} : {{ Object.keys(value) }}
			</button>
		</view>
		<button class="createRoomButton" type="primary" @click="onCreateRoomButtonClick">创建房间</button>
		<!-- 输入框示例 -->
		<uni-popup ref="inputDialog" type="dialog">
			<uni-popup-dialog ref="inputClose" mode="input" title="选择游戏模式" @confirm="dialogInputConfirm">
				<uni-data-checkbox mode="list" v-model="room_type" :localdata="room_type_list"></uni-data-checkbox>
			</uni-popup-dialog>

		</uni-popup>
	</div>
</template>

<script>
export default {
	data() {
		return {
			token: "",
			room_id: "",
			room_list: {},
			room_type: 0,
			room_type_list: [{
				text: "多人游戏",
				value: 0
			}, {
				text: "单人游戏",
				value: 1
			}
			],
			ping_interval: null
		}
	},
	onLoad: function (e) {
		this.token = e.token;
		this.init();
	},
	onPullDownRefresh: function (e) {
		this.init();
	},
	onShow: function (e) {
		this.init();
	},
	onUnload: function (e) {
		console.log("onUnload");
		clearInterval(this.ping_interval);
	},
	methods: {
		init() {
			clearInterval(this.ping_interval);
			this.update_room_list();
			this.$global.initWs(this.$store, this.token);
			this.$store.state.websocketConnection.onMessage((res) => {
				console.log(res.data);
				if (res.data == "update_room_list") {
					this.update_room_list();
				}
			});
			this.$store.state.websocketConnection.onClose((res) => {
				this.init();
			});
			this.ping_interval = setInterval(() => {
				this.$store.commit("heartBeat", this.token);
			}, 50 * 1000);
		},
		update_room_list() {
			uni.request({
				header: {
					'Content-Type': 'application/x-www-form-urlencoded',
					'token': this.token,
				},
				url: this.$url + "room",
				method: "GET",
				success: res => {
					if (res.statusCode == 200) {
						this.room_list = res.data;
					}
					uni.stopPullDownRefresh();
				}
			})
		},
		onCreateRoomButtonClick: function (e) {
			this.$refs.inputDialog.open();
		},
		dialogInputConfirm: function (e) {
			uni.request({
				header: {
					'Content-Type': 'application/x-www-form-urlencoded',
					'token': this.token,
				},
				url: this.$url + "room",
				method: "POST",
				data: {
					room_type: this.room_type
				},
				success: res => {
					uni.navigateTo({
						url: "../index/index?token=" + this.token + "&room_id=" + res.data.room_id + "&color=" + res.data.color
					});
				}
			})
		},
		onEnterRoom: function (room_id) {
			console.log(room_id);
			uni.request({
				header: {
					'Content-Type': 'application/x-www-form-urlencoded',
					'token': this.token,
				},
				url: this.$url + "room",
				method: "PUT",
				data: {
					room_id: room_id,
				},
				success: res => {
					uni.navigateTo({
						url: "../index/index?token=" + this.token + "&room_id=" + room_id + "&color=" + res.data.color
					});
				}
			})
		},
	}
}
</script>

<style lang="scss">
.createRoomButton {
	//底部
	position: fixed;
	bottom: 0;
	width: 100%;
}
</style>
